body {
    margin: 0;
}
.negative-impact {
    height: 100vh;
    width: 100vw;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    height: 80%;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-side {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    margin: 0.3em;
    opacity: 0;
    font-size: 1.7em;
    animation: fadeInFromTop 3s ease forwards 2s;
    transform: translateY(-10px);
}

.right-side {
    border-left: 2px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#economic-dmg {
    margin-top: 3em;
    height: 100%;
    width: 80%;
}

.positive-impact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #D5E1CC;
}

@keyframes fadeInFromTop {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  