body {
    margin: 0;
}
.negative-impact {
    height: 100vh;
    width: 100vw;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    height: 80%;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-side {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    margin: 0.3em;
    opacity: 0;
    font-size: 1.7em;
    animation: fadeInFromTop 2s ease forwards 2s;
    transform: translateY(-15px);
}

.right-side {
    border-left: 2px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#economic-dmg {
    margin-top: 3em;
    height: 100%;
    width: 80%;
}

.positive-impact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #D5E1CC;
}

.description {
    width: 20%;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
}

@keyframes fadeInFromTop {
    from {
      opacity: 0;
      transform: translateY(-15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
#comparison {
    border: 1px solid #C1C1C1;
}

#emission {
    border: 1px solid #861010;
}

.chart {
    margin: auto;
    max-width: 600px;
}
.axis--x path {
    display: none;
}
.violin {
    fill: steelblue;
    opacity: 0.7;
}

#cost {
    border: 1px solid #861010 ;
}

.box {
    fill: white;
    stroke: black;
    stroke-width: 1.5px;
}
.median {
    stroke-width: 2px;
    stroke: #ff7f0e;
}

.section-2 {
    background-color: brown;
}

.emission-graph {
    margin: 2em;
}

.emission-analysis {
    width: 74%;
    text-align: justify;
    line-height: 1.4;
}

.section-3 {
    width: 50%;
}

#line {
    border: 1px solid #C1C1C1;
}

#deathBarGraph {
    border: 1px solid #861010 ;
}